<!DOCTYPE html>
<html ng-app="myLab">
<head>
	<meta charset="UTF-8">
	<title>Practice 3 / Modular controller</title>
</head>
<body>
	<section ng-controller="Lab">
		<header>
			<h1>Practice 3 / <small>Modular controller</small></h1><hr>
		</header>
		<input type="text" ng-model="input" /> {{ input | uppercase }}
		<ul ng-repeat="data in persons | filter:input">
			<li>{{  data.name + ' -- ' + data.gender }}</li>
		</ul>
	</section>
	<a href="index.html">Contents</a>

	<script src="js/angular.min.js"></script>
	<script>
		var myLab = angular.module('myLab' , []);
		
		myLab.controller('Lab' , function($scope)
		{
			$scope.persons = [
				{
					name : 'Eldrich' , 
					gender : 'Male'
				},
				{
					name : 'Al' ,
					gender : 'Male'
				},
				{
					name : 'Brauz' ,
					gender : 'Male'
				},
				{
					name : 'Juddy' , 
					gender : 'Female'
				}
			];
		});

	</script>
</body>
</html>
